
@{
    ViewBag.Title = "Completed";
}
    <div class="container pb-5 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Sipariş Tamamlandı!</h2>
                <hr />
                <h4>Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</h4>
            </div>
        </div>
    </div>
