@model Abc.MvcWebUI.Models.Cart

    <ul class="navbar-nav my-2 my-lg-0">
            <li  class="nav-item active" style="color:white">
                <a href="/Cart" class="nav-link">
                    
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    (@Model.CardLines.Count)
                </a>
            </li>
    </ul>
