@model IEnumerable<Abc.MvcWebUI.Entity.Category>
@{ 
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}

    <div class="list-group">
        <a href="/Home/List" class="list-group-item list-group-item-action">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Tüm Kategoriler
        </a>

        @foreach (var item in Model)
        {
            if (selectedCategory != null)
            {
                if (item.ID == int.Parse(selectedCategory.ToString()))
                {
                    //seçilen kategori ile route id si birbirine eşit
                    <a href="/Home/List/@item.ID" class="list-group-item list-group-item-action active">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        @item.Name
                    </a>

                }
                else
                {
                    <a href="/Home/List/@item.ID" class="list-group-item list-group-item-action">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        @item.Name
                    </a>
                }
            }

            else
            {
                <a href="/Home/List/@item.ID" class="list-group-item list-group-item-action">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }


            



        }
    </div>
