@using Abc.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Ürün Katolog</h1>
            <p class="lead">Bu proje temel e-ticaret sitesi görevlerini yerine getiren bir ASP.NET MVC 5 projesidir. </p>
            <hr class="my-4">
            <p>Bu proje temel ürün-katolog modelini, yönetici paneli işlemlerini, Asp.Net Identity kullanımını, alışveriş sepeti işlemlerini ve sipariş işlemlerini içermektedir</p>
            
        </div>
    </div>
<div class="container pb-5">
    @Html.Partial("_ProductList",Model)
</div>
